#color-palette {
  height: 42px;
  width: 188px;
  margin-bottom: 8px;
}

.color {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  display: inline-block;
  margin-right: 5px;
}

#pixel-board {
  border: 1px solid black;
  height: 210px;
  width: 210px;
  margin-top: 8px;
} 

.line {
  height: 42px;
}

.pixel {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  display: inline-block;
} 

#clear-board {
  padding: 6px 82px;
  border: none;
  background: rgb(93, 145, 9);
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}

#clear-board:hover {
  background-color: rgb(31, 71, 12);
  cursor: pointer;
}